/* Apply a common font and reset default margins and background color for the entire page */
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

/* Center the content and set a maximum width for the content */
.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    padding: 10px;
    margin-top: 16px;
}

/* Style the cards that contain the main content of the site */
.card2 {
    margin: 24px auto;
    padding: 24px 50px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    background-color: white;
    border-radius: 5px;
}

/* Style the headings */
h1 {
    font-size: 36px;
    margin-bottom: 16px;
}

h2 {
    font-size: 28px;
    margin-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(28, end) infinite;
}

p{
    text-align: justify;
}

/* Style the links */
a {
    color: #0099ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style the button */
.app-btn {
    background-color: darkslategrey;
    color: #fff;
    font-size: 0.8rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.app-btn:hover {
    background-color: #e67e22;
}

/* Define the animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Style the dollar signs */
body::before {
    content: " ";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Obverse_of_the_series_2009_%24100_Federal_Reserve_Note.jpg/200px-Obverse_of_the_series_2009_%24100_Federal_Reserve_Note.jpg');
    background-repeat: repeat;
    opacity: 0.2;
}
